<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="https://nomadcoders.co/m.png">

    <title>Spring Boot WebService</title>
    <meta http-equiv="Contnet-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="spring with aws">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://d1telmomo28umc.cloudfront.net/media/seo/home2.jpg">
    <meta property="og:url" content="http://ec2-43-201-93-14.ap-northeast-2.compute.amazonaws.com/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

